[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d/private/org-roam-ui"]
	path = emacs.d/private/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui.git
[submodule "emacs.d/private/org-roam"]
	path = emacs.d/private/org-roam
	url = https://github.com/org-roam/org-roam
